@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --color-fondo:#F3F5F6;
    --color-primario:#0A3871;
    --color-secundario:#FFFFFF;
    --color-terciario:#495057;
    --color-cuaternario:#D8DFE8;

    --fuente-inter: "Inter", "regular";
}

html, body {
    height: 100%;  
}

body {
    background-color: var(--color-fondo);
    margin: 0px;
    padding: 0px;
}

/*Aqui empieza seccion 1*/

main {
    display: flex;
    margin: 2%;
    align-items: stretch;
    height: 100%;  
}

.contenedorPrincipal {
    width: 73%;
}

.contenedorEntradaTexto {
    height: 100%;
    padding-left: 20%;
}

.entradaTexto {
    background-color: var(--color-fondo);
    color: var(--color-primario);
    font-family: var(--fuente-inter);
    font-size: 32px;
    border: none;
}

.botonesPrincipales {
    position: absolute; bottom: 0;
}

.disclaimer {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: var(--fuente-inter);
    font-size: 12px;
    color: var(--color-terciario);
}

.contenedorBotones {
    display: flex;
    gap: 24px;
    height: 67px;
}

.boton {
    width: 328px;
    max-height: 67px;
    border-radius: 24px;
    padding: 1%;
    font-family: var(--fuente-inter);
    font-size: 16px;
}

.botonEncriptar {
    background: var(--color-primario);
    color: var(--color-secundario);
    border: none;
}

.botonDesencriptar {
    background: var(--color-cuaternario);
    color: var(--color-primario);
    border: 1px solid var(--color-primario);
}

/*Aqui empieza seccion 2*/

.contenedorSecundario {
    width: 27%;
}

.salidaTexto {
    background-color: var(--color-secundario);
    border-radius: 32px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alertaMensaje {
    font-family: var(--fuente-inter);
    font-size: 24px;
    color: var(--color-terciario);
    font-weight: bold;
    text-align: center;
}

.alertaInstruccion {
    font-family: var(--fuente-inter);
    font-size: 16px;
    color: var(--color-terciario);
    text-align: center;
}

.botonExtra {
    display: flex;
    justify-content: center;
    padding: 1%;
    position: absolute; bottom: 0;
}

.botonCopiar {
    background: var(--color-secundario);
    border-radius: 24px;
    color: var(--color-primario);
    border: 1px solid var(--color-primario);
    height: 67px;
}
