@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --color-fondo:#F3F5F6;
    --color-primario:#0A3871;
    --color-secundario:#FFFFFF;
    --color-terciario:#495057;
    --color-cuaternario:#D8DFE8;

    --fuente-inter: "Inter", "regular";
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;  
    margin: 0px;
    padding: 0px;
    background-color: var(--color-fondo);
    overflow: hidden;

}

 main {
    width: 100%;
    height: 100%; 
 }

.contenedores {
    display: flex;
    height: 95vh;
    margin: 2%;
}

/*Aqui empieza seccion 1*/


.contenedorPrincipal {
    width: 73%;
    height: auto;
}

.contenedorEntradaTexto {
    height: 100%;
    padding-left: 20%;
}

.entradaTexto {
    background-color: var(--color-fondo);
    color: var(--color-primario);
    font-family: var(--fuente-inter);
    font-size: 32px;
    border: none;
    width: 80%;
    height: 79%;
}

.disclaimer {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: var(--fuente-inter);
    font-size: 12px;
    color: var(--color-terciario);
    padding-bottom: 3%;
}

.contenedorBotones {
    display: flex;
    gap: 24px;
    height: 67px;
}

.boton {
    width: 20.5rem;
    max-height: 67px;
    border-radius: 24px;
    padding: 1%;
    font-family: var(--fuente-inter);
    font-size: 16px;
}

.botonEncriptar {
    background: var(--color-primario);
    color: var(--color-secundario);
    border: none;
}

.botonDesencriptar {
    background: var(--color-cuaternario);
    color: var(--color-primario);
    border: 1px solid var(--color-primario);
}

/*Aqui empieza seccion 2*/

.contenedorSecundario {
    width: 27%;
    height: auto;
}

.salidaTexto {
    background-color: var(--color-secundario);
    border-radius: 32px;
    height: auto;
}

.contenedorImagenAlertas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 87vh;
}

.alertas {
    font-family: var(--fuente-inter);
    text-align: center;
    color: var(--color-terciario);
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;

}

.alertaMensaje {
    font-size: 24px;
    font-weight: bold;
}

.alertaInstruccion {
    font-size: 16px;
}

.botonExtra {
    display: flex;
    justify-content: center;
    padding: 2%;
    height: 13vh;
    align-items: center;

}

.botonCopiar {
    background: var(--color-secundario);
    border-radius: 24px;
    color: var(--color-primario);
    border: 1px solid var(--color-primario);
    height: 67px;
}

/* Rensposividad para tablet y mobile*/
@media (max-width: 768px) {

    .contenedores {
        height: 100% ;
        flex-direction: column;
        gap: 8%;

    }

    .contenedorPrincipal {
        width: 100%;
        height: 80%;
    }

    .contenedorSecundario{
        width: 100%;
        height: 20%;

    }

    .contenedorEntradaTexto {
        padding-left: 0%;
    }

    .salidaTexto {
        height: auto;
    }

    .contenedorImagenAlertas {
        padding: 3%;
        height: auto;
    }

    .contenedorImagen {
        display: none;
    }

    .botonExtra {
        display: none;
    }


}

@media (max-width: 375px) {

    .contenedorBotones {
        flex-direction: column;
    
    }
}